@model ProductModel

<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
    <form method="post">
        <fieldset>
            <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label text-light">Title</label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label text-light">Price</label>
                <input asp-for="@Model.Price" class="form-control" aria-required="true" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>           
            <div class="mb-3">
                <label asp-for="@Model.MainImage" class="form-label text-light">Main Image URL</label>
                <input asp-for="@Model.MainImage" class="form-control" aria-required="true" />
                <span asp-validation-for="MainImage" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Images" class="form-label text-light">Images all</label>
                <input asp-for="@Model.Images" class="form-control" value="" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="@Model.SubCategoryId" class="form-label mt-4 text-light">Category</label>
                <select class="form-select" asp-for="@Model.SubCategoryId">
                    @foreach (var category in Model.SubCategoies)
                    {
                        <option value="@category.Id" style="text-dark">@category.Name</option>
                    }
                </select>
            </div>
            <br />
            <div id="DescriptionsContainer">
                @*<label asp-for="Description"></label>*@
                <a class="btn btn-outline-success text-light" style="margin-bottom: 10px" onclick="AddMoreDescriptions()">Add new description!</a>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Save" />
            </div>
        </fieldset>
    </form>
</div>
@section Scripts{
    <script>
        var descriptionIndex = 0;
        function AddMoreDescriptions() {
            //var newInputs = $("Name <input type='text' name='' id=''/> Quantity <input type='text' name='' id=''/>");
            $("#DescriptionsContainer").append("<div class='mb-3 text-light'>Title <input type='text' name='Description[" + descriptionIndex + "].Title'/> Description <input type='text' name='Description[" + descriptionIndex + "].Description'/></div>");
            descriptionIndex++;
        }
    </script>
}
